certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1+computecanada
cycler==0.12.1+computecanada
fonttools==4.53.0+computecanada
idna==3.7
joblib==1.4.2+computecanada
kiwisolver==1.4.5+computecanada
lxml==5.1.0+computecanada
matplotlib==3.9.0+computecanada
nibabel==5.2.1+computecanada
nilearn==0.10.4
numpy==1.26.4+computecanada
packaging==24.1+computecanada
pandas==2.2.1+computecanada
pillow==10.3.0+computecanada
pyparsing==3.1.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2024.1+computecanada
requests==2.32.3
scikit_learn==1.5.0+computecanada
scipy==1.13.1+computecanada
six==1.16.0+computecanada
threadpoolctl==3.5.0+computecanada
tzdata==2024.1+computecanada
urllib3==2.2.2
